<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
</head>
<body>
    <h1>Create a user</h1>
    <form action="/users/new" method="POST">
        <input type="text" name="first_name" placeholder="Enter a first name"></input>
        <input type="text" name="last_name" placeholder="Enter a last name"></input>
        <input type="text" name="image_url" placeholder="Provide an image of this user"></input>
        <button>Add</button>
    </form>
</body>
</html>